.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #272727;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #475569;
  width: 450px;
  border-radius: 10px;
  padding: 20px 40px;
  gap: 30px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-label {
  color: #fff;
  font-weight: bold;
}

.username-input-field {
  height: 50px;
  border: 1px solid #b6c5ff;
  border-radius: 5px;
  background-color: transparent;
  padding: 0 20px;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.login-button {
  border: none;
  color: #fff;
  background-color: #4f46e5;
  padding: 18px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.error-msg {
  color: #ff0b37;
}
