.job-card-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.job-card-failure-container p {
  color: #7e858e;
}
.job-card-failure-container button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #4f46e5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
