.ProfileCard-container {
  margin: 10px 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 20px;
  padding: 20px 10px;
  width: 250px;
  height: 200px;
  font-family: Roboto;
}

.profile-image {
  width: 50px;
}

.name {
  font-size: 25px;
  color: #6366f1;
}

.shortBio {
  color: #2c364c;
}

.profile-card-failure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 250px;
  height: 200px;
  text-align: center;
}

.retry-button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #4f46e5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
