.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #272727;
  color: #fff;
  font-family: Roboto;
  
  
}

.image {
  width: 150px;
}

.link-container {
  width: 100px;
  display: flex;
  gap: 30px;
}

.logout-button {
  background-color: #6366f1;
  width: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.link-items {
  color: #fff;
  text-decoration: none;
}
